In [146]:
from importlib import reload
import pandas as pd

import game_data

reload(game_data)

games = game_data.parse_all_games()
games.describe()

,Date,Max1,Max2,Finishes1,Finishes2,TwentyOne1,TwentyOne2,Year
count,5123,56.000000,39.0,47.000000,45.000000,117.000000,112.000000,5123.000000
mean,2018-08-14 14:50:11.829006336,1.035714,1.0,113.787234,111.711111,0.188034,0.142857,2018.136248
min,2015-12-11 00:00:00,1.000000,1.0,100.000000,100.000000,0.000000,0.000000,2015.000000
25%,2017-02-10 00:00:00,1.000000,1.0,104.000000,102.000000,0.000000,0.000000,2017.000000
50%,2018-04-13 00:00:00,1.000000,1.0,112.000000,109.000000,0.000000,0.000000,2018.000000
75%,2019-09-13 00:00:00,1.000000,1.0,115.500000,116.000000,0.000000,0.000000,2019.000000
max,2022-05-27 00:00:00,2.000000,1.0,156.000000,160.000000,2.000000,1.000000,2022.000000
std,NaN,0.187256,0.0,13.736553,13.018557,0.413805,0.351500,1.780677

In [147]:
games.iloc[-10:, :]

,Date,Player1,Player2,Legs1,Legs2,Max1,Max2,Finishes1,Finishes2,L21_1,L21_2,TwentyOne1,TwentyOne2,Year,Season
5113,2022-05-27,Johan,Menno,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5114,2022-05-27,Dylan,John,2,1,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2022,2021-2022
5115,2022-05-27,Jelle,Paplip,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5116,2022-05-27,Elbert,JR,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5117,2022-05-27,Bas,Brandon,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5118,2022-05-27,Jari,Johan,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5119,2022-05-27,Menno,Dylan,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5120,2022-05-27,John,Jelle,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5121,2022-05-27,Paplip,Elbert,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5122,2022-05-27,JR,Tino,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2022,2021-2022

In [148]:
sorted_games = games.sort_values("Date", ascending=True)
sorted_games

,Date,Player1,Player2,Legs1,Legs2,Max1,Max2,Finishes1,Finishes2,L21_1,L21_2,TwentyOne1,TwentyOne2,Year,Season
0,2015-12-11,EdG,JR,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-2016
24,2015-12-11,Bas,Maik,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-2016
25,2015-12-11,Bert,EdG,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-2016
26,2015-12-11,Elbert,Otto,2,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-2016
27,2015-12-11,Ernie,Youri,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,2015-2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,2022-05-27,Elbert,Jari,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5099,2022-05-27,Jelle,Bas,2,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5121,2022-05-27,Paplip,Elbert,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5109,2022-05-27,Paplip,Dylan,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,2021-2022
5122,2022-05-27,JR,Tino,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2022,2021-2022

In [149]:
games["Player1"].unique()

array(['EdG', 'Erik H', 'Gilbert', 'Hans', 'Henri', 'Jari', 'Joris',
       'Maik', 'Marianne', 'Otto', 'Youri', 'JR', 'Anil', 'Bas', 'Bert',
       'Elbert', 'Ernie', 'GertJ', 'John', 'Menno', 'Paplip', 'Pietra',
       'Johan', 'Harry', 'Brandon', 'Andor', 'Frank', 'Mark', 'Christa',
       'Joost', 'Kim', 'Erik', 'Gijs', 'Reyn', 'Frans', 'Colin', 'Martin',
       'Dylan', 'Jelle', 'Tino'], dtype=object)

In [182]:
players = pd.concat([games["Player1"], games["Player2"]]).unique()

In [207]:
import math

current_state = {
    player: {"rating": 1000, "games_count": 0, "games": []} for player in players
}
KFACTOR = 32

current_state

games['Rating1'] = 1000
games['Rating2'] = 1000


def calc_ratings(
    game,
):
    global current_state

    r1 = current_state[game["Player1"]]
    r2 = current_state[game["Player2"]]

    p1 = game["Legs1"]
    p2 = game["Legs2"]

    if {p1, p2} == {0, 0}:
        # no result, rating stays the same
        return pd.Series([r1["rating"], r2["rating"]])

    fraction_1 = p1 / (p1 + p2)
    fraction_2 = p2 / (p1 + p2)

    # expected
    expected_fraction_1 = 1 / (1 + math.pow(10, (r2["rating"] - r1["rating"]) / 400))
    expected_fraction_2 = 1 - expected_fraction_1

    new_rating_1 = r1["rating"] + KFACTOR * (fraction_1 - fraction_2)
    new_rating_2 = r2["rating"] + KFACTOR * (fraction_2 - fraction_1)

    r1["rating"] = new_rating_1
    r1["games_count"] += 1
    # r1["games"].append(game)

    r2["rating"] = new_rating_2
    r2["games_count"] += 1
    # r2["games"].append(game)

    # game['Rating1'] = new_rating_1
    # game['Rating2'] = new_rating_2

    return pd.Series([new_rating_1, new_rating_2])


games[["Rating1", "Rating2"]] = pd.DataFrame(
    games.apply(
        calc_ratings,
        result_type="reduce",
        axis=1,
    )
)
# for index, game in games.iterrows():
#     calc_ratings(game)

current_state
# games

{'EdG': {'rating': 61.33333333333297, 'games_count': 148, 'games': []},
 'Erik H': {'rating': 2578.666666666665, 'games_count': 96, 'games': []},
 'Gilbert': {'rating': -6285.333333333336, 'games_count': 379, 'games': []},
 'Hans': {'rating': 168.00000000000014, 'games_count': 62, 'games': []},
 'Henri': {'rating': -1911.9999999999995, 'games_count': 480, 'games': []},
 'Jari': {'rating': -98.66666666666661, 'games_count': 488, 'games': []},
 'Joris': {'rating': 1383.9999999999998, 'games_count': 68, 'games': []},
 'Maik': {'rating': 2760.0000000000005, 'games_count': 431, 'games': []},
 'Marianne': {'rating': -5314.666666666668, 'games_count': 320, 'games': []},
 'Otto': {'rating': -4610.666666666667, 'games_count': 616, 'games': []},
 'Youri': {'rating': -749.3333333333334, 'games_count': 184, 'games': []},
 'JR': {'rating': nan, 'games_count': 456, 'games': []},
 'Anil': {'rating': 3890.666666666664, 'games_count': 151, 'games': []},
 'Bas': {'rating': 6610.666666666677, 'games_count': 600, 'games': []},
 'Bert': {'rating': 6578.666666666672, 'games_count': 511, 'games': []},
 'Elbert': {'rating': 7037.33333333334, 'games_count': 406, 'games': []},
 'Ernie': {'rating': -5432.0000000000055, 'games_count': 351, 'games': []},
 'GertJ': {'rating': 2301.3333333333353, 'games_count': 364, 'games': []},
 'John': {'rating': -1613.333333333334, 'games_count': 343, 'games': []},
 'Menno': {'rating': nan, 'games_count': 456, 'games': []},
 'Paplip': {'rating': 5480.0, 'games_count': 448, 'games': []},
 'Pietra': {'rating': -109.3333333333336, 'games_count': 244, 'games': []},
 'Johan': {'rating': 4338.66666666667, 'games_count': 553, 'games': []},
 'Harry': {'rating': 850.6666666666672, 'games_count': 116, 'games': []},
 'Brandon': {'rating': 605.3333333333335, 'games_count': 100, 'games': []},
 'Andor': {'rating': 8040.00000000001, 'games_count': 548, 'games': []},
 'Frank': {'rating': 2568.0000000000027, 'games_count': 271, 'games': []},
 'Mark': {'rating': 978.6666666666666, 'games_count': 2, 'games': []},
 'Christa': {'rating': -4311.999999999998, 'games_count': 376, 'games': []},
 'Joost': {'rating': 1362.6666666666665, 'games_count': 28, 'games': []},
 'Kim': {'rating': 1128.0000000000002, 'games_count': 20, 'games': []},
 'Erik': {'rating': 1640.0000000000005, 'games_count': 96, 'games': []},
 'Gijs': {'rating': 1405.333333333334, 'games_count': 32, 'games': []},
 'Reyn': {'rating': 1042.6666666666667, 'games_count': 88, 'games': []},
 'Frans': {'rating': 1384.0000000000002, 'games_count': 44, 'games': []},
 'Colin': {'rating': 552.0000000000007, 'games_count': 104, 'games': []},
 'Martin': {'rating': 3112.0, 'games_count': 140, 'games': []},
 'Dylan': {'rating': 1661.3333333333342, 'games_count': 28, 'games': []},
 'Jelle': {'rating': 445.3333333333336, 'games_count': 88, 'games': []},
 'Tino': {'rating': 1000.0, 'games_count': 8, 'games': []}}